<!DOCTYPE html>
<html>
<head>
  <title>FlazorApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header -->
<a href="/dashboard">Dashboard</a> |
<a href="/activities">Activities</a> | 

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul>
<%= render 'shared/navigation' %>
</ul>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<%= yield %>

</body>
</html>
